<template>
  <v-col
    class="d-flex align-center justify-space-between cursor-pointer"
    cols="12"
    @click="dark"
  >
    <div class="d-flex align-center">

      <v-icon color="#3DE29D">
        brightness_2
      </v-icon>

      <h5 class="mb-0 mt-1 ml-4 font-weight-regular app-text">
        Modo oscuro
      </h5>

    </div>

    <v-switch
      dense
      inset
      readonly
      hide-details
      class="ma-0"
      v-model="isDarkMode"
      color="#3DE29D"
    />
  </v-col>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Preferences from "@/store/preferences";

  @Component({
    name: "MenuItemSwitchDarkMode"
  })
  export default class MenuItemSwitchDarkMode extends Vue {
    private preferencesModule = getModule(Preferences, this.$store);

    private isDarkMode = false;

    public mounted() {
      this.isDarkMode = this.preferencesModule.darkMode;
    }

    public dark() {
      this.preferencesModule.switchDarkMode();
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      this.isDarkMode = !this.isDarkMode;
    }
  }
</script>

<style scoped>
  .app-text {
    color: #767676
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>