<template>
  <v-col class="d-flex align-center link-pointer" cols="12" @click="goToRoute()">
    <v-icon color="#3DE29D">
      {{ icon_name }}
    </v-icon>
    <h5 class="mb-0 mt-1 ml-4 font-weight-regular text-app">
      {{ menu_text }}
    </h5>
  </v-col>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";

  @Component({
    name: "MenuItem"
  })
  export default class MenuItem extends Vue{
    @Prop({
      required: true,
      type: String
    })
    private icon_name!: string;

    @Prop({
      required: true,
      type: String
    })
    private menu_text!: string;

    @Prop({
      required: true,
      type: String
    })
    private route_path!: string;

    private goToRoute() {
      if (this.$route.path !== this.route_path) {
        this.go();
      } else {
        this.$router.go(0);
      }
    }

    private go() {
      return this.$router.push(this.route_path);
    }
  }
</script>

<style scoped>
  .text-app {
    color: #767676
  }

  .link-pointer {
    cursor: pointer;
  }

  .link-pointer:hover {
    background: #3de29d1a;
    border-radius: 24px 0 0 24px;
  }
</style>