<template>
  <ApplicationLayout>
    <v-container class="mt-4">
      <v-row>
        <v-col class="col-md-12">
          <h1>Inicio</h1>

          <PublicationItem
            class="mt-4"
            v-for="(item, i) of publications"
            :key="i"
            :publication="item"
          />

          <infinite-loading
            @infinite="onScroll"
          >
            <div slot="no-more">No more message</div>
            <div slot="no-results">No results message</div>
          </infinite-loading>

        </v-col>
      </v-row>
    </v-container>

    <v-btn
      class="d-flex d-md-none"
      fab
      fixed
      bottom
      dark
      to="/crear-post"
      color="#3DE29D"
      right
    >
      <v-icon>
        add
      </v-icon>
    </v-btn>
  </ApplicationLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import ApplicationLayout from "@/layout/ApplicationLayout.vue";
  import PublicationItem from "@/components/publications/PublicationItem.vue";
  import {getModule} from "vuex-module-decorators";
  import Publication from "@/store/publication";
  import {IPublication} from "@/core/entity/publications/IPublication";
  import InfiniteLoading from "vue-infinite-loading";

  @Component({
    name: "AppHome",

    components: {
      PublicationItem,
      ApplicationLayout,
      InfiniteLoading
    },
  })
  export default class AppHome extends Vue {
    private readonly publicationModule = getModule(Publication, this.$store);

    currentPage = 0;
    publications: IPublication[] = [];

    async mounted() {
      await this.getPublicationsAndAddToArray();
    }

    async getPublicationsAndAddToArray() {
      const response = await this.publicationModule.getPublications({
        page: this.currentPage
      });

      this.publications = this.publications.concat(response.data!);

      return response.data!;
    }

    async onScroll($state: any) {
      this.currentPage++;
      const data = await this.getPublicationsAndAddToArray();

      if (data.length <= 0) $state.loaded();
      else $state.complete();
    }
  }
</script>

<style scoped>

</style>