<template>
  <GuessAccount>
    <v-container fluid>
      <v-col>
        <h1>
          Solicitar activacion
        </h1>

        <p class="mt-4" style="font-size: 14px">
          Aqui puedes ver las solicitudes de activacion
          hechas o solicitar que se te active tu cuenta
        </p>
      </v-col>

      <v-col>
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-center">
                Fecha de solicitud
              </th>

              <th class="text-center">
                Documento
              </th>

              <th class="text-center">
                Estado
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="attempt in attempts"
              :key="attempt._id"
              style="cursor:pointer;"
              @click="showAttempt(attempt)"
            >
              <td class="text-center font-weight-bold" style="color:#3DE29D;">
                {{ attempt.createdAt | timeToSpanish }}
              </td>

              <td class="text-center">
                <v-icon>
                  attach_file
                </v-icon>
                {{ attempt.verificationFile }}
              </td>

              <td class="text-center">
                <v-chip
                  small
                  dark
                  color="orange"
                  v-if="attempt.status === 0"
                >
                  Pendiente
                </v-chip>

                <v-chip
                  small
                  dark
                  color="orange"
                  v-if="attempt.status === 1"
                >
                  Rechazado
                </v-chip>

                <v-chip
                  small
                  dark
                  v-if="attempt.status === 2"
                  color="#3DE29D"
                >
                  Aceptado
                </v-chip>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>

      <v-btn
        bottom
        right
        fab
        fixed
        dark
        color="#3DE29D"
        @click="openModal"
      >
        <v-icon>
          add
        </v-icon>
      </v-btn>
    </v-container>

    <CreateAttempt
      :active="active"
      :loading="loading"
      @error="showError"
      @close-modal="closeModal"
      @send-attempt="sendAttempt"
    />

    <v-snackbar v-model="error">
      Debes subir un archivo para activar tu cuenta
    </v-snackbar>

    <v-snackbar v-model="requestError">
      Ha ocurrido un error al hacer la peticion
      por favor intenta mas tarde
    </v-snackbar>
  </GuessAccount>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import GuessAccount from "@/layout/GuessAccount.vue";
  import CreateAttempt from "@/components/attempt/modals/CreateAttempt.vue";
  import {getModule} from "vuex-module-decorators";
  import Attempt from "@/store/attempt";
  import Auth from "@/store/auth";
  import {IAttempt} from "@/core/entity/attempt/AttemptEntity";
  import enviroment from "@/core/shared/envirnoment";

  @Component({
    name: "MainAttempt",

    components: {
      CreateAttempt,
      GuessAccount
    },

    filters: {
      timeToSpanish(date: string) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString("es-ES", options);
      }
    }
  })
  export default class MainAttempt extends Vue {

    private auth = getModule(Auth, this.$store);
    private attempt = getModule(Attempt, this.$store);

    private loading: boolean = false;
    private error: boolean = false;
    private active: boolean = false;
    private requestError: boolean = false;

    private attempts: IAttempt[] = [];

    public async mounted() {
      await this.getAttempts();
    }

    private showError() {
      this.error = true;
    }

    private showRequestError() {
      this.requestError = true;
    }

    private async getAttempts() {
      const result = await this.attempt.getAttemptsById({
        user_id: this.auth.user._id!
      });

      this.attempts = result.data!;
    }

    private async sendAttempt(form: FormData) {
      this.loading = true;
      const result = await this.attempt.createAttempt({ data: form });
      if (result.ok) await this.getAttempts()
      else this.showRequestError();
      this.loading = false;
      this.closeModal();
    }

    private showAttempt(attempt: IAttempt) {
      window.open(enviroment.STORAGE_URL + attempt.verificationFile, 'blank')
    }

    private openModal() {
      this.active = true;
    }

    private closeModal() {
      this.active = false;
    }
  }
</script>

<style scoped>

</style>