<template>
  <v-dialog max-width="600" v-model="active" persistent>
    <v-card>
      <v-toolbar color="#3DE29D" dark elevation="1">
        <v-toolbar-title>
          Agregar experiencia
        </v-toolbar-title>

        <v-spacer/>

        <v-btn icon @click="closeModal">
          <v-icon>
            close
          </v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="mt-8">
        <h2 class="mb-4">
          Datos generales
        </h2>

        <v-text-field
            dense
            label="Empresa, compañia o proyecto"
            outlined
            color="#3DE29D"
            v-model="experience.company"
        />

        <v-text-field
            dense
            v-model="experience.job"
            label="Cargo o roll desarrollado"
            outlined
            color="#3DE29D"
        />

        <v-text-field
            dense
            v-model="experience.description"
            label="Describe tus actividades realizadas"
            outlined
            color="#3DE29D"
        />

        <h3>
          Tiempo
        </h3>

        <v-row>
          <v-col class="col-md-6">
            <v-menu
                ref="menu"
                v-model="modalStartAt"
                min-width="auto"
                :close-on-click="false"
                :close-on-content-click="false"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                    dense
                    outlined
                    hide-details
                    readonly
                    v-on="on"
                    class="mt-4"
                    v-bind="attrs"
                    color="#3DE29D"
                    label="Fecha de inicio"
                    v-model="experience.start_at"
                />
              </template>

              <v-date-picker
                  no-title
                  scrollable
                  locale="es"
                  v-model="experience.start_at"
              >
                <v-spacer/>

                <v-btn
                    text
                    small
                    color="#3DE29D"
                >
                  cancelar
                </v-btn>

                <v-btn
                    text
                    small
                    color="#3DE29D"
                    @click="$refs.menu.save(experience.start_at); modalStartAt = false"
                >
                  ok
                </v-btn>

              </v-date-picker>
            </v-menu>
          </v-col>

          <v-col class="col-md-6">
            <v-menu
                ref="menu"
                v-model="modalEndAt"
                min-width="auto"
                :close-on-click="false"
                :close-on-content-click="false"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                    dense
                    outlined
                    hide-details
                    readonly
                    v-on="on"
                    class="mt-4"
                    v-bind="attrs"
                    color="#3DE29D"
                    label="Fecha de termino"
                    v-model="experience.finish_at"
                />
              </template>

              <v-date-picker
                  no-title
                  scrollable
                  locale="es"
                  v-model="experience.finish_at"
              >
                <v-spacer/>

                <v-btn
                    text
                    small
                    color="#3DE29D"
                >
                  cancelar
                </v-btn>

                <v-btn
                    text
                    small
                    color="#3DE29D"
                    @click="$refs.menu.save(experience.finish_at); modalStartAt = false"
                >
                  ok
                </v-btn>

              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer/>

        <v-btn color="#3DE29D" dark depressed @click="addExperience" :loading="isLoading">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator";
import {IExperience} from "@/core/entity/profile/IExperience";
import {getModule} from "vuex-module-decorators";
import Profile from "@/store/profile";

@Component({
  name: "AddExperienceModal"
})
export default class AddExperienceModal extends Vue {
  @Prop({required: true})
  private active!: boolean;

  @Prop({required: true})
  private profileId!: string;

  private readonly profileModule = getModule(Profile, this.$store);

  isLoading = false;
  modalStartAt = false;
  modalEndAt = false;

  experience: Partial<IExperience> = {
    company: "",
    description: "",
    finish_at: "",
    job: "",
    start_at: ""
  };

  async addExperience() {
    this.isLoading = true;

    await this.profileModule.addExperience({
      id: this.profileId,
      experience: this.experience
    });

    this.isLoading = false;

    this.experienceSaved();
  }

  @Emit()
  private experienceSaved() {
  }

  @Emit()
  private closeModal() {
  }
}
</script>

<style scoped>

</style>