<template>
  <v-dialog max-width="400" persistent v-model="active">
    <v-card>
      <v-card-title>
        Advertencia
      </v-card-title>

      <v-card-text>
        Estas a punto de borrar esto ¿estas seguro? esta accion no se puede revertir
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn outlined color="#3DE29D" @click="cancelDelete">
          Cancelar
        </v-btn>

        <v-btn depressed color="#3DE29D" dark @click="confirmDelete">
          Confirmar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">

import {Component, Emit, Prop, Vue} from "vue-property-decorator";

@Component({
  name: "DeleteExperienceModal"
})
export default class DeleteSkillModal extends Vue {
  @Prop({ required: true })
  active!: boolean;

  @Emit()
  cancelDelete() {}

  @Emit()
  confirmDelete() {}
}
</script>

<style scoped>

</style>