<template>
  <v-list-item class="pl-0">
    <v-list-item-content>
      <div class="d-flex justify-space-between align-center">
        <h3 class="ma-0">
          {{ experience.company }}
        </h3>

        <div v-if="editable">
          <v-btn icon @click="removeExperience">
            <v-icon>
              delete
            </v-icon>
          </v-btn>
        </div>
      </div>

      <h5 class="primary-text font-weight-medium" :class="{ 'mt-2': !editable }">
        {{ experience.job }}
      </h5>

      <p class="text-small mt-2">
        {{ experience.description }}
      </p>

      <p class="text-small font-weight-regular primary-text mt-2 mb-0">
        {{ experience.start_at | humanDate }} hasta el {{ experience.finish_at | humanDate }}
      </p>
    </v-list-item-content>
  </v-list-item>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator";
import {IExperience} from "@/core/entity/profile/IExperience";

@Component({
  name: "ExperienceItem",
  filters: {
    humanDate(date: string | Date | undefined) {
      if (date === undefined) return date;
      if (date === "") return new Date().toISOString().substr(0, 10);
      return new Date(date).toISOString().substr(0, 10);
    }
  }
})
export default class ExperienceItem extends Vue {
  @Prop({required: true})
  private experience!: IExperience;

  @Prop({ default: false })
  private editable!: boolean;

  @Emit()
  private removeExperience() {
    return this.experience._id;
  }
}
</script>

<style scoped>
.text-small {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.primary-text {
  color: #3DE29D;
}
</style>