<template>
  <v-dialog v-model="active" max-width="600" scrollable persistent>
    <v-card>
      <v-toolbar dark color="#3DE29D" elevation="1">
        <v-toolbar-title>
          Habilidades
        </v-toolbar-title>

        <v-spacer />

        <v-btn icon @click="closeModal">
          <v-icon>
            close
          </v-icon>
        </v-btn>
      </v-toolbar>


      <v-card-text>
        <v-list>
          <v-list-item class="pa-0" v-for="(item, i) of skillsActive" :key="i">
            <v-checkbox
                color="#3DE29D"
                :label="item.skill.name"
                v-model="item.hasSkill"
            />
          </v-list-item>
        </v-list>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
            color="#3DE29D"
            depressed
            dark
            @click="updateSkills"
        >
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Skill from "@/store/skill";
import {ISkill} from "@/core/entity/profile/ISkill";

@Component({
  name: "SkillManager"
})
export default class SkillManager extends Vue {
  @Prop({
    required: true
  })
  private active!: boolean;

  @Prop({
    required: true
  })
  private userSkills!: ISkill[];

  @Emit()
  private closeModal() {}

  @Emit()
  private saveAndRefresh(skills: ISkill["_id"][]) {
    return skills;
  }

  private skillModule = getModule(Skill, this.$store);

  private skills: ISkill[] = [];

  async mounted() {
    await this.getSkills();
  }

  async getSkills() {
    const result = await this.skillModule.getAllSkills();

    if (result.ok) {
      this.skills = result.data!;
    }
  }

  async updateSkills() {
    const skills: ISkill["_id"][] = [];

    this.skillsActive.forEach(item => {
      if (item.hasSkill) skills.push(item.skill._id);
    });

    this.saveAndRefresh(skills);
  }

  get skillsActive() {
    return this.skills.map(skill => ({
      skill: skill,
      hasSkill: this.userSkills.some(item => item._id === skill._id)
    }));
  }
}
</script>

<style scoped>

</style>