<template>
  <application-layout>
    <div>
      <transition name="fade">
        <v-img
            class="max-height-cover"
            position="center"
            :src="publication.cover"
        >
          <div class="shadow-image px-10">
            <v-btn
                text
                dark
                depressed
                :ripple="false"
                :disabled="isLoading"
                @click="openFiles"
            >
              Cambiar portada
            </v-btn>

            <v-progress-linear
                color="#3DE29D"
                rounded
                indeterminate
                class="mt-8"
                height="6"
                v-if="isLoading"
            />
          </div>

          <input
              type="file"
              class="d-none"
              ref="file"
              @change="setFile"
          />
        </v-img>
      </transition>

      <v-container class="mt-2">
        <v-row>
          <v-col class="col-md-12">
            <h1>
              Nueva publicacion
            </h1>

            <v-form class="mt-4">
              <v-text-field
                  outlined
                  color="#3DE29D"
                  label="Titulo"
                  v-model="publication.title"
              />

              <v-textarea
                  outlined
                  auto-grow
                  color="#3DE29D"
                  label="Escribe una descripcion"
                  v-model="publication.description"
                  hide-details
              />
            </v-form>
          </v-col>
        </v-row>

        <v-row>
          <v-col
              cols="12" v-for="(el, i) of publication.layouts"
              :key="i"
          >
            <LayoutItem
                :layout="el"
                :index="i"
                @remove-layout="removeLayout"
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-btn
                block
                color="#3DE29D"
                outlined
                @click="addLayout"
            >
              <v-icon left>
                add
              </v-icon>
              Agregar nueva seccion
            </v-btn>
          </v-col>

          <v-col>
            <v-btn
                dark
                block
                color="#3DE29D"
                :disabled="isLoading"
                :loading="isLoading"
                depressed
                @click="saveNotice"
            >
              Guardar
            </v-btn>
          </v-col>
        </v-row>
      </v-container>

      <v-snackbar v-model="hasError">
        Ha ocurrido un error
      </v-snackbar>
    </div>
  </application-layout>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Upload from "@/store/upload";
import {IFile, IFileTypes} from "@/core/entity/file/IFile";
import Auth from "@/store/auth";
import {IPublication} from "@/core/entity/publications/IPublication";
import LayoutItem from "@/components/layout/LayoutItem.vue";
import envirnoment from "@/core/shared/envirnoment";
import ApplicationLayout from "@/layout/ApplicationLayout.vue";
import Publication from "@/store/publication";

@Component({
  name: "CreatePublicationForm",
  components: {ApplicationLayout, LayoutItem}
})
export default class CreatePublicationForm extends Vue {

  private authModule = getModule(Auth, this.$store);
  private publicationModule = getModule(Publication, this.$store);
  private uploadModule = getModule(Upload, this.$store);

  public $refs!: { file: HTMLFormElement }

  private hasError = false;
  private isLoading = false;
  private inputFile!: any;

  private fileUploaded: IFile = {
    _id: "",
    name: "",
    type: IFileTypes.IMAGE
  };

  private publication: Partial<IPublication> = {
    _id: "",
    title: "",
    description: "",
    createdAt: "",
    cover: "https://www.donde-estudiar.info/wp-content/uploads/2019/09/Tecnol%C3%B3gico-de-Estudios-Superiores-Coacalco-TESCO.jpg",
    layouts: []
  }

  private openFiles() {
    this.$refs.file.click();
  }

  private setFile($event: any) {
    this.inputFile = $event.target.files[0];
    this.uploadImage();
  }

  private removeLayout(index: number) {
    this.publication.layouts!.splice(index, 1);
  }

  private addLayout() {
    this.publication.layouts!.push({
      title: "",
      description: "",
      links: [],
      source: "",
      sources: [],
      type: 0,
      priority: 0,
    });
  }

  private async uploadImage() {
    this.isLoading = true;

    const formData = new FormData;
    formData.append("files", this.inputFile);
    const result = await this.uploadModule.uploadFile(formData);

    this.setImageUrlToNotice(result.data![0]);
    this.isLoading = false;
  }

  private setImageUrlToNotice(file: IFile) {
    this.fileUploaded = file;
    this.publication.cover = `${envirnoment.STORAGE_URL}${file.name}`;
  }

  private async saveNotice() {
    this.isLoading = true;

    const result = await this.publicationModule.createPublication({
      publication: this.publication,
      user_id: this.authModule.user._id!,
      layouts: this.getLayouts()
    });

    /*await this.publicationModule.createPublication({
      publication: this.publication,
      layouts: this.getLayouts(),
      user_id: this.authModule.user._id!
    });*/

    if (result.ok) {
      await this.$router.push('/home');
    } else {
      this.hasError = true;
    }

    this.isLoading = false;
  }

  private getLayouts() {
    const result: any[] = [];

    this.publication.layouts!.forEach(item => {
      let layout: any = {
        links: [],
        source: "",
        sources: item.sources,
        type: item.type,
        priority: item.priority,
        title: item.title,
        description: item.description
      }

      if (typeof item.source !== "string") {
        const source = item.source;
        layout.source = source!._id;
      } else {
        delete layout.source;
      }

      if (item.links) {
        layout.links = item.links;
      }

      result.push(layout);
    });

    return result;
  }
}
</script>

<style scoped>
.shadow-image {
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.max-height-cover {
  height: 40vh;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>