<template>
  <application-layout v-if="!isLoading">
    <v-img
        height="45vh"
        :src="publication.cover"
    />

    <v-container class="my-6">
      <v-row>
        <v-col class="col-12">
          <div class="d-flex align-center justify-space-between">

            <div class="d-flex align-center">
              <v-avatar>
                <v-img
                    :src="showProfileImage(publication.user.profile.photo)"
                />
              </v-avatar>
              <div class="ml-4">
                <h3>
                  {{ publication.user.name }}
                </h3>
                <p class="mb-0 text-primary">
                  {{ publication.createdAt | timeToLocale }}
                </p>
              </div>
            </div>
          </div>
        </v-col>

        <v-col>
          <h1 class="title-notice">
            {{ publication.title }}
          </h1>

          <p class="publication-text mt-4">
            {{ publication.description }}
          </p>
        </v-col>
      </v-row>

      <v-row v-for="(layout, i) of publication.layouts" :key="i" class="mt-10">
        <v-col>
          <h2 class="sub-title">
            {{ layout.title }}
          </h2>

          <p class="mt-4 description-text">
            {{ layout.description }}
          </p>

          <v-img
              v-if="layout.source"
              :src="`http://localhost:3000/storage/${layout.source.name}`"
              class="mt-10"
          />
        </v-col>

        <v-col v-if="layout.type === 1" cols="12">
          <h2 class="sub-title">
            Links
          </h2>

          <div v-for="(link, j) of layout.links">
            <a class="mt-4 d-block link-wrap text-primary" target="_blank" :key="j" :href="link">
              {{ link }}
            </a>
          </div>
        </v-col>


        <v-col v-if="layout.type === 2" cols="12">
          <h2 class="sub-title">
            Recursos
          </h2>

          <div v-for="(source, k) of layout.sources" :key="k">
            <v-card class="mt-4" elevation="1" @click="getFile(source.name)">
              <v-card-text>
                <v-icon color="#3DE29D">
                  attach_file
                </v-icon>
                <span class="text-primary">
                  {{ source.name }}
                </span>
              </v-card-text>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </application-layout>
</template>

<script lang="ts">

import {Component, Mixins} from "vue-property-decorator";
import TimeMixing from "@/mixing/TimeMixing.vue";
import ApplicationLayout from "@/layout/ApplicationLayout.vue";
import {getModule} from "vuex-module-decorators";
import Publication from "@/store/publication";
import {IPublication} from "@/core/entity/publications/IPublication";

@Component({
  name: "PublicationDetail",
  components: {ApplicationLayout}
})
export default class PublicationDetail extends Mixins(TimeMixing) {
  private readonly publicationModule = getModule(Publication, this.$store);

  isLoading = true;
  publication!: IPublication;

  mounted() {
    this.publicationModule.getSinglePublication({
      publication_id: this.$route.params.id
    }).then(data => {
      this.publication = data.data!;
    }).finally(() => this.isLoading = false);
  }
}
</script>

<style scoped>
.publication-text {
  white-space: pre-line;
}

.link-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-notice {
  font-size: 64px;
}

.description-text {
  color: #767676;
  white-space: pre-line;
}

.text-primary {
  color: #3DE29D;
}

.sub-title {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .title-notice {
    font-size: 48px;
  }

  .sub-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .title-notice {
    font-size: 36px;
  }
}
</style>