<template>
  <v-row @click="goToNotice" class="cursor-pointer">
    <v-col class="col-md-12 cursor-pointer" @click="goToNotice">
      <v-card elevation="1">
        <v-img
          :src="notice.cover"
          class="rounded"
          position="center"
          min-height="200px"
          max-height="200px"
        />

        <v-card-text>
          <h2 class="line-normal cursor-pointer" @click="goToNotice">
            {{ notice.title }}
          </h2>

          <p class="mt-4">
            {{ notice.description | textLength }}
          </p>

          <p class="color-primary">
            {{ notice.createdAt | timeToSpanish }}
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";

  @Component({
    name: "NoticeItemExpanded",
    filters: {
      textLength(text: string) {
        return `${text.substr(0, 120)}...`;
      },
      timeToSpanish(date: string) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString("es-ES", options);
      }
    }
  })
  export default class NoticeItemExpanded extends Vue {
    @Prop({ required: true })
    public notice!: NoticeEntity;

    private goToNotice() {
      this.$router.push(`/anuncio/${this.notice._id}`);
    }
  }
</script>

<style scoped>
  .line-normal {
    line-height: normal !important;
  }

  .color-primary {
    color: #95DD05;
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>