<template>
  <v-container>
    <v-row v-if="title.length !== 0">
      <v-col class="col-md-6">
        <h1>
          {{ title }}
        </h1>
      </v-col>
    </v-row>

    <NoticeItemExpanded
      class="mb-0 mb-md-4"
      :notice="notices[0]"
    />

    <v-row
      v-if="notices.length > 0"
    >
      <NoticeItem
        v-for="(notice, i) of notices"
        :key="i"
        v-if="i > 0"
        :notice="notice"
      />
    </v-row>
  </v-container>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
  import NoticeItem from "@/components/notices/NoticeItem.vue";
  import NoticeItemExpanded from "@/components/notices/NoticeItemExpanded.vue";

  @Component({
    name: "NoticeList",
    components: {NoticeItemExpanded, NoticeItem}
  })
  export default class NoticeList extends Vue {
    @Prop({ required: true, default: [] })
    public notices!: NoticeEntity[];

    @Prop({ required: false, default: "", type: String })
    public title!: string;
  }
</script>

<style scoped>

</style>