<template>
  <v-card @click="showPublication">
    <v-img
        v-if="publication.cover"
        max-height="45vh"
        :src="getCoverUrl()"
    />

    <v-card-text>
      <p class="text-primary">
        {{ publication.createdAt | timeToLocale }}
      </p>

      <h2>
        {{ publication.title }}
      </h2>

      <p class="mt-4">
        {{ publication.description | longText }}
      </p>

      <div class="d-flex justify-space-between">
        <div class="cursor-pointer">
          <v-chip pill color="transparent" class="cursor-pointer">
            <v-avatar left>
              <v-img
                  :src="getProfileUrl()"
              />
            </v-avatar>

            <p class="my-0 font-weight-bold">
              {{ publication.user.name }}
            </p>
          </v-chip>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">

import {Component, Mixins, Prop} from "vue-property-decorator";
import {IPublication} from "@/core/entity/publications/IPublication";
import TimeMixing from "@/mixing/TimeMixing.vue";

@Component({
  name: "PublicationItem"
})
export default class PublicationItem extends Mixins(TimeMixing) {

  @Prop({required: true})
  publication!: IPublication;

  getProfileUrl() {
    if (this.publication.user.profile!.photo !== "")
      return this.getUrlByFileName(this.publication.user.profile!.photo);
    else
      return this.placeHolderImage();
  }

  getCoverUrl() {
    return this.publication.cover;
  }

  showPublication() {
    return this.$router.push(`/post/${this.publication._id}`);
  }
}
</script>

<style scoped>
.text-primary {
  color: #3DE29D;
}

.cursor-pointer {
  cursor: pointer;
}
</style>