<template>
  <PublicLayout>
    <v-container class="mt-8">
      <v-row>
        <v-col class="col-md-12">
          <h1 style="font-size: 36px">Anuncios</h1>
        </v-col>
      </v-row>

      <v-row>
        <NoticeItem
          v-for="notice of notices"
          :key="notice._id"
          :notice="notice"
        />
      </v-row>

      <infinite-loading @infinite="getNextPage">
        <div slot="no-more" class="mt-4">
          No hay mas resultados
        </div>
        <div slot="no-results">
          No se han publicado anuncios
        </div>
      </infinite-loading>
    </v-container>

    <v-snackbar v-model="active">
      Ha ocurrido un error con el servidor
    </v-snackbar>
  </PublicLayout>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";
  import PublicLayout from "@/layout/PublicLayout.vue";
  import {getModule} from "vuex-module-decorators";
  import Notice from "@/store/notice";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
  import NoticeItemExpanded from "@/components/notices/NoticeItemExpanded.vue";
  import NoticeItem from "@/components/notices/NoticeItem.vue";
  import InfiniteLoading from "vue-infinite-loading";

  @Component({
    name: "Notices",
    components: {
      NoticeItem,
      NoticeItemExpanded,
      PublicLayout,
      InfiniteLoading
    }
  })
  export default class Notices extends Vue {

    private noticesModule = getModule(Notice, this.$store);

    private counter = -1;
    private active = false;
    private notices: NoticeEntity[] = [];

    public async mounted() {
      await this.getFirsts();
    }

    public async getFirsts() {
      const result = await this.getNotices();
      const data = result.data!;
      this.notices = this.notices.concat(data);
    }

    public async getNotices() {
      this.counter++;

      return this.noticesModule.getNotices({
        page: this.counter
      });
    }

    public async getNextPage($state: any) {
      const result = await this.getNotices();
      if (result.ok) this.addItemsToArray(result.data!, $state);
      else this.active = true;
    }

    private addItemsToArray(data: NoticeEntity[], $state: any) {
      if (data.length !== 0) {
        this.notices = this.notices.concat(data);
        $state.loaded();
      } else {
        $state.complete();
      }
    }
  }
</script>

<style scoped>

</style>