<template>
  <PublicLayout>
    <v-img
      height="45vh"
      position="center"
      :src="notice.cover"
    />

    <v-container class="mb-10">
      <v-row>
        <v-col class="mt-4 mt-md-10">
          <p class="mb-0 font-weight-bold text-primary">
            06 de marzo del 2020
          </p>
          <h1 class="title-notice">
            {{ notice.title }}
          </h1>

          <p class="mt-4 description-text">
            {{ notice.description }}
          </p>
        </v-col>
      </v-row>

      <v-row v-for="(layout, i) of notice.layouts" :key="i" class="mt-10">
        <v-col>
          <h2 class="sub-title">
            {{ layout.title }}
          </h2>

          <p class="mt-4 description-text">
            {{ layout.description }}
          </p>

          <v-img
            v-if="layout.source"
            :src="`http://localhost:3000/storage/${layout.source.name}`"
            class="mt-10"
          />
        </v-col>

        <v-col v-if="layout.type === 1" cols="12">
          <h2 class="sub-title">
            Links
          </h2>

          <div v-for="(link, j) of layout.links">
            <a class="mt-4 d-block link-wrap" target="_blank" :key="j" :href="link">
              {{ link }}
            </a>
          </div>
        </v-col>


        <v-col v-if="layout.type === 2" cols="12">
          <h2 class="sub-title">
            Recursos
          </h2>

          <div v-for="(source, k) of layout.sources" :key="k">
            <v-card class="mt-4" elevation="1" @click="getFile(source.name)">
              <v-card-text>
                <v-icon color="#95DD05">
                  attach_file
                </v-icon>
                <span class="text-primary">
                  {{ source.name }}
                </span>
              </v-card-text>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </PublicLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import PublicLayout from "@/layout/PublicLayout.vue";
  import {getModule} from "vuex-module-decorators";
  import Notice from "@/store/notice";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
  import environment from "@/core/shared/envirnoment";

  @Component({
    name: "NoticeDetail",

    components: {
      PublicLayout
    }
  })
  export default class NoticeDetail extends Vue {

    private readonly noticeModule = getModule(Notice, this.$store);

    private notice: NoticeEntity = {
      cover: "",
      createdAt: "",
      _id: "",
      description: "",
      title: "",
      layouts: []
    };

    public async mounted() {
      try {

        const result = await this.noticeModule.getNotice({
          notice_id: this.$route.params.id
        });

        if (result.ok) {
          this.notice = result.data!;
        } else {
          console.log(result)
        }

      } catch (e) {
        console.log(e);
      }
    }

    public getFile(sourceName: string) {
      window.open(`${environment.STORAGE_URL}${sourceName}`);
    }
  }
</script>

<style scoped>
  .link-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .text-primary {
    color: #95DD05;
  }

  .title-notice {
    font-size: 64px;
  }

  .description-text {
    color: #767676;
    white-space: pre-line;
  }

  .sub-title {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    .title-notice {
      font-size: 48px;
    }

    .sub-title {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 425px) {
    .title-notice {
      font-size: 36px;
    }
  }
</style>