<template>
  <v-dialog v-model="active" max-width="360">
    <template v-slot:activator="{ on }">
      <v-btn icon color="#3DE29D" @click="active = true">
        <v-icon>
          settings
        </v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-text>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                {{ authModule.user.name }}
              </v-list-item-title>

              <v-list-item-subtitle>
                {{ authModule.user.email }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/profile">
            <v-list-item-content>
              <v-list-item-title>
                Perfil
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/configuraciones">
            <v-list-item-content>
              <v-list-item-title>
                Configuraciones
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link @click="logout">
            <v-list-item-content>
              <v-list-item-title>
                Salir
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">

import {Component, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Auth from "../../store/auth";

@Component({
  name: "ContextMenuApp"
})
export default class ContextMenuApp extends Vue {
  private active = false;
  private authModule = getModule(Auth, this.$store);

  private logout() {
    this.authModule.logout();
    this.$router.push("/");
  }
}
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>