<template>
  <div class="mt-8">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h1 v-if="routeName === '/software'" class="text-h2 font-weight-bold mb-8">
            Ingenieria de Software
          </h1>
          <h1 class="text-h2 font-weight-bold mb-8" v-else>
            Auditoria Y Seguridad Informática
          </h1>

          <p v-if="routeName === '/software'">
            {{ software.text }}
          </p>

          <p v-else>
            {{ isc.text }}
          </p>
        </v-col>

        <v-col cols="12">
          <h3>
            Descripcion
          </h3>
          <p v-if="routeName === '/software'">
            {{ software.description }}
          </p>
          <p v-else>
            {{ isc.description }}
          </p>
        </v-col>

        <v-col cols="12">
          <h1>
            ¿Como lo puedes aplicar?
          </h1>
        </v-col>

        <v-col cols="4" v-if="routeName === '/software'" v-for="(item, i) of software.applications" :key="i">
          <h3>
            {{ item.title }}
          </h3>

          <p class="mt-4">
            {{ item.description }}
          </p>
        </v-col>

        <v-col v-if="routeName !== '/software'" v-for="(item, k) of isc.applications" :key="k" cols="4">
          <h3>
            {{ item.title }}
          </h3>

          <p class="mt-4">
            {{ item.description }}
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">

import {Component, Prop, Vue} from "vue-property-decorator";

@Component({
  name: "SpecialistKind"
})
export default class SpecialistKind extends Vue {
  @Prop({ required: true, type: String })
  routeName!: string;

  software = {
    text: "Aprende sobre lo mejor en tecnologia con nuestros maestros los expertos del area obten la llave a un mejor futuro y abre una puerta de oportunidades para tu yo del mañana. Aprende sobre lo mejor en tecnologia con nuestros maestros los expertos del area obten la llave a un mejor futuro y abre una puerta de oportunidades para tu yo del mañana.",
    description: "Un Ingeniero de Software es un profesional que se encarga de la creación de software de calidad, aplicando conocimiento científico y estadístico. El trabajo del Ingeniero de Software consiste en analizar, diseñar, programar, probar y mantener sistemas informáticos y de software con el propósito de resolver problemas para los usuarios. \n" +
        "\n" +
        "El Ingeniero de Software está involucrado en todas las etapas del desarrollo de un producto de software, tratando de crear soluciones robustas y seguras. Aplican la tecnología de software para satisfacer una necesidad específica o resolver un problema particular. \n" +
        "\n",
    applications: [
      {
        title: "Desarrollo de software",
        description: "Como desarrollador de software, podrá realizar el análisis, diseño y programación de software utilizando la orientación por objetos y podrá aplicar técnicas avanzadas como patrones y componentes que aumentan la productividad y calidad de sus productos. "
      },
      {
        title: "Evaluador de proyectos",
        description: " Como evaluador del proceso y del producto de software podrá liderear procesos para la gestión y aseguramiento de la calidad del software podrá establecer y monitorear procesos para la correcta verificación validación y pruebas del producto; podrá evaluar herramientas de apoyo al proceso de desarrollo de software. "
      },
      {
        title: "Coordinador de proyecto",
        description: "Como coordinador del proceso de desarrollo, podrá liderear grupos de trabajo de desarrollo o adecuación de software podrá establecer un sistema de métricas que permite estimar y controlar de manera precisa el proyecto de desarrollo."
      },
      {
        title: "Asesor de proyectos",
        description: "como asesor o consultor podrá orientar los procesos de apropiación metodológica e implementación de aseguramiento de calidad que ayudan a mejorar los sistemas de producción de software en las organizaciones."
      },
      {
        title: "Seguridad de Datos",
        description: "La Ingeniería en Software te enseñará cómo prevenir y detectar el uso no autorizado de sistemas informáticos, así como a reaccionar ante intrusos que logren acceder a estos softwares. Si te imaginas protegiendo los datos más valiosos de una organización como parte del equipo de trabajo de IBM o Amazon, entonces la Ingeniería en Software es ideal para ti."
      },
      {
        title: "Aseguramiento de la calidad",
        description: "Podras Incluir procesos de calidad en las aplicaciones, como la medición de métricas, medidas y la evaluación de la calidad del software."
      },
    ]
  };

  isc = {
    text: "La auditoría de seguridad informática es la herramienta principal para poder conocer el estado de seguridad en que se encuentra una empresa en relación con sus sistemas informáticos, de comunicación y acceso a internet. Estas auditorías permiten mejorar los sistemas e incrementar la ciberseguridad, siendo fundamentales para poder garantizar el funcionamiento del negocio y proteger la integridad de la información que manejan. \n" +
        "\n",
    description: "La auditoría de seguridad informática es la herramienta principal para poder conocer el estado de seguridad en que se encuentra una empresa en relación con sus sistemas informáticos, de comunicación y acceso a internet. Estas auditorías permiten mejorar los sistemas e incrementar la ciberseguridad, siendo fundamentales para poder garantizar el funcionamiento del negocio y proteger la integridad de la información que manejan.",

    applications: [
      {
        title: "Analisis de los sistemas",
        description: "Analiza los procesos dentro de una empresa e identifica el potencial de optimización identificando debilidades y disfunciones."
      },
      {
        title: "Informes de auditorias",
        description: "La auditoría se cierra realizando un informe detallado de los resultados obtenidos durante la fase de análisis. Estos resultados deben presentar los problemas de seguridad encontrados, proponiendo soluciones y recomendaciones sobre cómo solventarlos"
      },
      {
        title: "Recopilacion de informacion",
        description: "Recopilador de toda la información posible para poder evaluar el funcionamiento de los sistemas informáticos, tecnologías, políticas y protocolos objetivos de la auditoría. "
      },
      {
        title: "Auditorias Tecnicas",
        description: "Verificar que la validacion de los sistemas informatizados en la industria regulada, o si las políticas y protocolos de seguridad se están realizando de forma apropiada. "
      },
      {
        title: "Analisis de Datos",
        description: "Con toda la información y documentación recabada, así como el resultado de los distintos test y pruebas realizadas se realizará un análisis con el objetivo de encontrar fallos, vulnerabilidades y debilidades en los sistemas. "
      },
      {
        title: "Auditorías internas y externas ",
        description: "Realizar auditorias con una visión más objetiva de la situación financiera real de la compañía, al ser una audirotia externa y las auditorias internas el que realizan el informe, el cual podrá proporcionar, a quien solicitó la evaluación, una serie de recomendaciones para mejorar los procesos internos. \n"
      },
    ]
  }
}
</script>

<style scoped>

</style>