<template>
  <PublicLayout>
    <v-container>
      <v-row class="d-flex justify-center align-center super-screen">
        <v-col class="col-md-7">

          <h1 class="font-weight-bold title">
            Ingeniería en Sistemas Computacionales
          </h1>

          <p class="mt-8 text-center text-md-left">
            Aprende sobre lo mejor en tecnologia con nuestros maestros los
            expertos del area obten la llave a un mejor futuro y abre una
            puerta de oportunidades para tu yo del mañana
          </p>
        </v-col>

        <v-col class="col-md-5 d-flex align-center justify-center">
          <v-img
              src="@/assets/img/logo.png"
              class="super-logo"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col class="col-md-12">
          <h1>
            Nuestras <br>
            especialidades
          </h1>
        </v-col>

        <v-col class="col-md-6">
          <v-img
              src="https://elmejorinmigrante.com/wp-content/uploads/2020/03/desarrollo-de-software-min-1.jpg"
              max-height="320"
          />

          <div class="px-2">
            <h3 class="mt-4">
              Ingenieria de software
            </h3>

            <p style="font-size: 14px" class="mt-2">
              Un Ingeniero de Software es un profesional que se encarga de la
              creación de software de calidad, aplicando conocimiento...
            </p>

            <a
                target="_blank"
                href="http://www.tecnologicodecoacalco.edu.mx/TESCO/carreras_programas/isc/9.1.-Reticula_Especialidad_Ingenieria_Sw_SIC%202019.pdf"
            >
              <v-btn color="primary" depressed>
                Ver reticula
              </v-btn>
            </a>

          </div>
        </v-col>

        <v-col class="col-md-6">
          <v-img
              src="https://revistasumma.com/wp-content/uploads/2017/12/unnamed-15.jpg"
              max-height="320"
          />

          <div class="px-2">
            <h3 class="mt-4">
              Seguridad informatica
            </h3>

            <p style="font-size: 14px" class="mt-2">
              a auditoría de seguridad informática es la herramienta principal para
              poder conocer el estado de seguridad en que se encuentra...
            </p>

            <a
                target="_blank"
                href="http://www.tecnologicodecoacalco.edu.mx/TESCO/carreras_programas/isc/9.2.-Reticula_Especialidad_Auditoria_SI_SIC%202019.pdf"
            >
              <v-btn color="primary" depressed>
                Ver reticula
              </v-btn>
            </a>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <NoticeList
        class="mt-10"
        title="Ultimos anuncios"
        v-if="notices.length > 0"
        :notices="notices"
    />
  </PublicLayout>
</template>

<script lang="ts">
import {getModule} from "vuex-module-decorators";
import {Component, Vue} from 'vue-property-decorator';

import Notice from "@/store/notice";
import Preferences from "@/store/preferences";

import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
import NoticeList from "@/components/notices/NoticeList.vue";
import PublicLayout from "@/layout/PublicLayout.vue";

@Component({
  name: 'Home',

  components: {
    NoticeList,
    PublicLayout
  }
})
export default class Home extends Vue {

  private notices: NoticeEntity[] = [];

  private noticeModule = getModule(Notice, this.$store);
  private preferencesModule = getModule(Preferences, this.$store);

  public dark() {
    this.preferencesModule.switchDarkMode();
    this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
  }

  async mounted() {
    try {
      const response = await this.noticeModule.getNotices({page: 0});

      if (response.ok) {
        for (let i = 0; i < 4; i++) {
          this.notices.push(response.data![i]);
        }
      } else {
        console.log(response)
      }

    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style scoped>
.super-screen {
  min-height: 90vh;
}

.super-logo {
  max-width: 80%;
}

.title {
  font-size: 72px !important;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .super-screen {
    align-items: center;
    min-height: auto;
    margin-top: 18px;
    flex-direction: column-reverse;
  }

  .super-logo {
    max-width: 50%;
  }

  .title {
    text-align: center;
    font-size: 36px !important;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 36px !important;
  }
}
</style>
