<template>
  <v-app>
    <v-app-bar app dense elevation="1">
      <v-toolbar-title class="cursor-pointer" @click="goHome">
        TESCo
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row class="row-expanded">
          <v-col class="d-flex flex-column align-center">
            <h1 class="super-text">
              404
            </h1>

            <h3>
              Recurso no encontrado
            </h3>

            <p class="mt-2 text-center little-text">
              La pagina que estas bucando no existe
              o fue removida
            </p>

            <v-btn rounded depressed color="#3DE29D" dark @click="goHome">
              Volver a la aplicacion
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component({
    name: "NotFound"
  })
  export default class NotFound extends Vue {
    private goHome() {
      this.$router.push('/');
    }
  }
</script>

<style scoped>
  .cursor-pointer {
    cursor: pointer;
  }

  .row-expanded {
    min-height: 90vh;
    align-items: center;
  }

  .super-text {
    font-size: 128px;
  }

  .little-text {
    font-size: 14px;
  }
</style>