<template>
  <public-layout>
    <v-container class="mt-4">
      <v-row>
        <v-col>
          <h1 class="text-h3 font-weight-bold">
            Especialidades
          </h1>

          <p class="mt-4">
            Como parte del desarrollo de nuestros ingenieros tenemos planeadas 2 especialidades
            para que estos puedan profundisar aun mas sobre un nicho de la ingenieria especifico
            y dar una preparacion mas completa en base a lo que mas les guste dentro de la carrera
          </p>
        </v-col>
      </v-row>

      <v-row>
        <v-col class="col-md-6">
          <v-img
              src="https://elmejorinmigrante.com/wp-content/uploads/2020/03/desarrollo-de-software-min-1.jpg"
              max-height="320"
          />

          <div class="px-2">
            <h3 class="mt-4">
              Ingenieria de software
            </h3>

            <p style="font-size: 14px" class="mt-2">
              Un Ingeniero de Software es un profesional que se encarga de la
              creación de software de calidad, aplicando conocimiento...
            </p>

            <a
                target="_blank"
                href="http://www.tecnologicodecoacalco.edu.mx/TESCO/carreras_programas/isc/9.1.-Reticula_Especialidad_Ingenieria_Sw_SIC%202019.pdf"
            >
              <v-btn color="primary" depressed>
                Ver reticula
              </v-btn>
            </a>

          </div>
        </v-col>

        <v-col class="col-md-6">
          <v-img
              src="https://revistasumma.com/wp-content/uploads/2017/12/unnamed-15.jpg"
              max-height="320"
          />

          <div class="px-2">
            <h3 class="mt-4">
              Seguridad informatica
            </h3>

            <p style="font-size: 14px" class="mt-2">
              a auditoría de seguridad informática es la herramienta principal para
              poder conocer el estado de seguridad en que se encuentra...
            </p>

            <a
                target="_blank"
                href="http://www.tecnologicodecoacalco.edu.mx/TESCO/carreras_programas/isc/9.2.-Reticula_Especialidad_Auditoria_SI_SIC%202019.pdf"
            >
              <v-btn color="primary" depressed>
                Ver reticula
              </v-btn>
            </a>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </public-layout>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import PublicLayout from "@/layout/PublicLayout.vue";

@Component({
  name: "Specialist",
  components: {PublicLayout}
})
export default class Specialist extends Vue {

}
</script>

<style scoped>

</style>