<template>
  <public-layout>
    <specialist-kind :route-name="routeName"/>
  </public-layout>
</template>

<script lang="ts">

import {Component, Vue, Watch} from "vue-property-decorator";
import PublicLayout from "@/layout/PublicLayout.vue";
import SpecialistKind from "@/components/app/SpecialistKind.vue";

@Component({
  name: "SpecialistItem",
  components: {SpecialistKind, PublicLayout}
})
export default class SpecialistItem extends Vue {
  routeName = "/software";

  @Watch("$route")
  watcherMagic() {
    this.routeName = this.$route.path;
  }
}
</script>

<style scoped>

</style>