<template>
  <v-dialog v-model="active" max-width="500" persistent>
    <v-card>
      <v-card-title>
        Activa tu cuenta
      </v-card-title>

      <v-card-text>
        <p>
          Para activar tu cuenta por favor proporciona la informacion siguiente
        </p>

        <v-checkbox
          dense
          color="#3DE29D"
          hide-details
          label="Soy egresado"
          v-model="graduate"
        >
          Egresado
        </v-checkbox>

        <v-menu
          ref="menu"
          v-model="modal"
          v-if="graduate"
          min-width="auto"
          :close-on-click="false"
          :return-value.sync="egressDate"
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              dense
              outlined
              rounded
              hide-details
              readonly
              v-on="on"
              class="mt-4"
              v-model="egressDate"
              v-bind="attrs"
              color="#3DE29D"
              label="Fecha de graduacion"
            />
          </template>

          <v-date-picker
            no-title
            scrollable
            locale="es"
            v-model="egressDate"
          >
            <v-spacer />

            <v-btn
              text
              small
              color="#3DE29D"
              @click="modal = false"
            >
              cancelar
            </v-btn>

            <v-btn
              text
              small
              color="#3DE29D"
              @click="$refs.menu.save(egressDate)"
            >
              ok
            </v-btn>

          </v-date-picker>
        </v-menu>

        <v-text-field
          outlined
          dense
          rounded
          class="mt-4"
          color="#3DE29D"
          label="Matricula"
          v-model="enrollment"
        />

        <label class="d-flex align-center blue--text" style="cursor: pointer">
          <v-icon left color="blue">
            attach_file
          </v-icon>
          Has click para agregar documento de verificacion

          <input
            max="1"
            type="file"
            class="d-none"
            accept="application/pdf, image/png, image/jpeg"
            @change="setFile"
          />
        </label>

        <p class="mt-4 mb-0">
          El documento de verificacion puede ser una foto de tu credencial,
          historial academico o si eres egresado una foto de tu rostro
        </p>
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn
          small
          dark
          depressed
          outlined
          class="mb-2"
          color="#3DE29D"
          @click="closeModal"
        >
          cancelar
        </v-btn>

        <v-btn
          small
          dark
          depressed
          class="mb-2"
          color="#3DE29D"
          :loading="loading"
          @click="validate"
        >
          Enviar solicitud
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
  import {Component, Emit, Prop, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";

  @Component({
    name: "CreateAttempt"
  })
  export default class CreateAttempt extends Vue {
    @Prop({
      type: Boolean,
      required: true
    })
    private active!: boolean;

    @Prop({
      type: Boolean,
      required: true
    })
    private loading!: boolean;

    private auth = getModule(Auth, this.$store);

    private modal = false;
    private disabled = true;

    private file!: File;
    private enrollment = "";
    private graduate = false;
    private egressDate: string = new Date().toISOString().substr(0, 10);

    private setFile(event: any) {
      if (event.target.files.length > 0) {
        this.disabled = false;
        this.file = event.target.files[0];
      } else {
        this.disabled = true;
      }
    }

    public validate() {
      if (!this.disabled) this.sendAttempt();
      else this.error();
    }

    @Emit()
    public sendAttempt() {
      const form = new FormData();
      form.append('graduate', Boolean(this.graduate).toString());
      form.append('egressDate', this.egressDate);
      form.append('enrollment', this.enrollment);
      form.append('user_id', this.auth.user._id!);
      form.append('file', this.file);
      return form;
    }

    @Emit()
    public error() {}

    @Emit()
    public closeModal() {}
  }
</script>

<style scoped>

</style>