<template>
  <ApplicationLayout>
    <v-container v-if="!isLoading && user.profile">
      <v-col class="col-md-12">
        <h1>
          Configuraciones
        </h1>
      </v-col>

      <v-col class="col-md-12">
        <h3 class="mb-6">
          Informacion personal
        </h3>

        <v-text-field
            outlined
            color="#3DE29D"
            :disabled="!isPersonalEditing"
            dense
            label="Nombre"
            v-model="user.name"
        />

        <v-text-field
            outlined
            color="#3DE29D"
            :disabled="!isPersonalEditing"
            dense
            label="Apellidos"
            v-model="user.lastname"
        />

        <v-text-field
            outlined
            dense
            color="#3DE29D"
            :disabled="!isPersonalEditing"
            label="Matricula"
            v-model="user.enrollment"
        />

        <v-menu
            ref="menuEgressDate"
            v-model="admissionPicket"
            :close-on-content-click="false"
            :return-value.sync="user.dateOfAdmission"
            transition="scale-transition"
            min-width="auto"
            offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
                outlined
                dense
                color="#3DE29D"
                label="Fecha de ingreso"
                :value="user.dateOfAdmission | humanDate"
                :disabled="!isPersonalEditing"
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
            />
          </template>

          <v-date-picker
              no-title
              scrollable
              locale="es"
              v-model="user.dateOfAdmission"
          >
            <v-spacer/>

            <v-btn
                text
                color="#3DE29D"
                @click="admissionPicket = false"
            >
              Cancel
            </v-btn>

            <v-btn
                text
                color="primary"
                @click="$refs.menuEgressDate.save(user.dateOfAdmission)"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>

        <v-checkbox
            label="Egresado"
            color="#3DE29D"
            v-model="user.graduate"
            :disabled="!isPersonalEditing"
        />

        <v-menu
            v-if="user.graduate"
            ref="menuEgress"
            v-model="egressPicker"
            :close-on-content-click="false"
            :return-value.sync="user.egressDate"
            transition="scale-transition"
            min-width="auto"
            offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
                outlined
                dense
                color="#3DE29D"
                :disabled="!isPersonalEditing"
                label="Fecha de egreso"
                :value="user.egressDate | humanDate"
                readonly
                v-bind="attrs"
                v-on="on"
            />
          </template>

          <v-date-picker
              no-title
              scrollable
              locale="es"
              v-model="user.egressDate"
          >
            <v-spacer/>

            <v-btn
                text
                color="#3DE29D"
                @click="egressPicker = false"
            >
              Cancel
            </v-btn>

            <v-btn
                text
                color="primary"
                @click="$refs.menuEgress.save(user.egressDate)"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>

        <div class="d-flex justify-end">
          <v-btn color="#3DE29D" dark depressed @click="changePersonalState" v-if="!isPersonalEditing">
            Editar
          </v-btn>

          <div v-else>
            <v-btn color="#3DE29D" outlined @click="resetPersonalState">
              Cancelar
            </v-btn>

            <v-btn color="#3DE29D" depressed class="ml-4" @click="updatePersonalData" dark>
              Guardar
            </v-btn>
          </div>
        </div>
      </v-col>

      <v-divider class="my-4"/>

      <v-col class="col-md-12">
        <h3 class="mb-6">
          Perfil
        </h3>

        <label class="cursor-pointer">
          <v-avatar color="#3DE29D">
            <v-img
                v-if="user.profile.photo.length !== 0"
                :src="showImage(user.profile.photo)"
            />
          </v-avatar>
          <span class="ml-2 text-small">Cambiar foto de perfil</span>
          <input type="file" class="d-none" @change="updateProfilePhoto">
        </label>

        <v-textarea
            outlined
            dense
            color="#3DE29D"
            :disabled="!isProfileEditing"
            class="mt-6"
            label="Mi descripcion"
            v-model="user.profile.description"
        />

        <v-text-field
            outlined
            dense
            color="#3DE29D"
            :disabled="!isProfileEditing"
            label="Link de pagina web"
            v-model="user.profile.web_url"
        />

        <v-text-field
            outlined
            dense
            color="#3DE29D"
            :disabled="!isProfileEditing"
            label="Link de faceebok"
            v-model="user.profile.facebook"
        />

        <v-text-field
            outlined
            dense
            color="#3DE29D"
            :disabled="!isProfileEditing"
            label="Link de Linkedin"
            v-model="user.profile.linkedin"
        />

        <v-checkbox
            color="#3DE29D"
            :disabled="!isProfileEditing"
            v-model="user.profile.has_job"
            label="Actualmente tengo trabajo como desarrollador o en alguna rama de ingenieria"
        />

        <div class="d-flex justify-end">
          <v-btn color="#3DE29D" dark depressed @click="changeProfileState" v-if="!isProfileEditing">
            Editar
          </v-btn>

          <div v-else>
            <v-btn color="#3DE29D" outlined @click="resetProfileState">
              Cancelar
            </v-btn>

            <v-btn color="#3DE29D" class="ml-4" @click="updateProfileData" dark>
              Guardar
            </v-btn>
          </div>
        </div>
      </v-col>

      <v-divider class="my-4"/>

      <v-col class="col-md-12">
        <h3 class="mb-2">
          Habilidades
        </h3>
        <p class="text-small mb-2">
          Estas son las habilidades o tecnologias en las que tienes conocimiento
        </p>

        <v-chip-group column v-if="user.profile.skills.length > 0">
          <v-chip
              v-for="(item, i) of user.profile.skills"
              :key="i"
              :color="item.color"
              dark
          >
            {{ item.name }}
          </v-chip>
        </v-chip-group>

        <v-btn
            color="#3DE29D"
            class="mt-4"
            depressed
            dark
            block
            @click="showSkillManager = true;"
        >
          Selecionar habilidades
        </v-btn>
      </v-col>

      <v-divider class="my-4"/>

      <v-col class="col-md-12">
        <h2>
          Experiencia laboral
        </h2>

        <p class="text-small mt-2">
          Puedes agregar proyectos personales, trabajos escolaes o algun empleo
          o proyecto proficional en el que hayas colaborado
        </p>

        <v-list color="transparent">
          <template v-for="(item, i) of user.profile.experience">

            <experience-item
                :key="i"
                :experience="item"
                :editable="true"
                @remove-experience="showRemoveExperienceModal"
            />

            <v-divider class="my-4"/>
          </template>
        </v-list>

        <v-btn
            dark
            block
            depressed
            class="mt-4"
            color="#3DE29D"
            @click="changeAddExperienceModalState"
        >
          Agregar experiencia laboral
        </v-btn>
      </v-col>

      <SkillManager
          :active="showSkillManager"
          :user-skills="user.profile.skills"
          @close-modal="closeModal"
          @save-and-refresh="saveAndRefresh"
      />

      <AddExperienceModal
          :active="showAddExperience"
          :profile-id="user.profile._id"
          @experience-saved="experienceSaved"
          @close-modal="changeAddExperienceModalState"
      />

      <DeleteExperienceModal
          :active="showDeleteExperience"
          @confirm-delete="deleteAndRefresh"
          @cancel-delete="showDeleteExperience = false"
      />
    </v-container>

    <v-snackbar v-model="showError">
      Ha ocurrido un error en la operacion
    </v-snackbar>
  </ApplicationLayout>
</template>

<script lang="ts">

import {Component, Vue} from "vue-property-decorator";
import ApplicationLayout from "@/layout/ApplicationLayout.vue";
import {getModule} from "vuex-module-decorators";
import Auth from "@/store/auth";
import Profile from "@/store/profile";
import {UserEntity} from "@/core/entity/auth/UserEntity";
import {IProfile} from "@/core/entity/profile/IProfile";
import env from "@/core/shared/envirnoment";
import SkillManager from "@/components/profile/SkillManager.vue";
import {ISkill} from "@/core/entity/profile/ISkill";
import ExperienceItem from "@/components/profile/ExperienceItem.vue";
import AddExperienceModal from "@/components/profile/AddExperienceModal.vue";
import DeleteExperienceModal from "@/components/profile/DeleteExperienceModal.vue";

@Component({
  name: "Settings",
  components: {
    DeleteExperienceModal,
    AddExperienceModal,
    ExperienceItem,
    SkillManager,
    ApplicationLayout
  },
  filters: {
    humanDate(date: string | Date | undefined) {
      if (date === undefined) return date;
      if (date === "") return new Date().toISOString().substr(0, 10);
      return new Date(date).toISOString().substr(0, 10);
    }
  }
})
export default class Settings extends Vue {

  userModule = getModule(Auth, this.$store);
  profileModule = getModule(Profile, this.$store);

  showError = false;
  showDeleteExperience = false;
  showAddExperience = false;
  showSkillManager = false;

  isLoading = false;
  isPersonalEditing = false;
  isProfileEditing = false;

  egressPicker = false;
  admissionPicket = false;

  user: UserEntity = {
    active: false,
    email: "",
    graduate: false,
    lastname: "",
    name: ""
  };

  deleteExperienceId = "";

  async mounted() {
    await this.getProfile();
  }

  async resetPersonalState() {
    this.changePersonalState();
    await this.getProfile();
  }

  async resetProfileState() {
    this.changeProfileState();
    await this.getProfile();
  }

  async experienceSaved() {
    this.changeAddExperienceModalState();
    await this.getProfile();
  }

  async getProfile() {
    this.isLoading = true;
    try {
      const result = await this.profileModule.getProfileById(this.userModule.user._id!);

      if (result.ok) {
        this.user = result.data!;
      }
    } catch (e) {
      console.log(e);
    } finally {
      this.isLoading = false;
    }
  }

  async updatePersonalData() {
    const result = await this.userModule.updateUser({
      id: this.user._id!,
      user: this.user
    })

    if (result.ok) {
      this.changePersonalState();
    } else {
      this.showError = true;
    }
  }

  async updateProfileData() {
    const data: Partial<IProfile> = {
      description: this.user.profile?.description,
      facebook: this.user.profile?.facebook,
      linkedin: this.user.profile?.linkedin,
      web_url: this.user.profile?.web_url,
      has_job: this.user.profile?.has_job
    };

    const result = await this.profileModule.updateProfile({
      id: this.user.profile!._id,
      profile: data
    });

    if (result.ok) {
      this.changeProfileState();
    } else {
      this.showError = true;
    }
  }

  async updateProfilePhoto($event: any) {
    const result = await this.profileModule.updateProfilePhoto({
      id: this.user.profile!._id,
      file: $event.target.files[0]
    });

    if (result.ok) {
      await this.getProfile();
    } else {
      this.showError = true;
    }
  }

  async saveAndRefresh(skills: ISkill["_id"][]) {
    try {
      await this.profileModule.updateProfileSkills({
        id: this.user.profile!._id!,
        skills: skills
      });
      await this.getProfile();
    } catch (e) {
      this.showError = true;
    } finally {
      this.closeModal();
    }
  }

  async deleteAndRefresh() {
    try {
      await this.profileModule.deleteExperience({
        id: this.deleteExperienceId,
        profile_id: this.user.profile!._id
      });

      await this.getProfile();
    } catch (e) {
      this.showError = true;
    } finally {
      this.showDeleteExperience = false;
    }
  }

  showRemoveExperienceModal(id: string) {
    this.deleteExperienceId = id;
    this.showDeleteExperience = true;
  }

  changePersonalState() {
    this.isPersonalEditing = !this.isPersonalEditing;
  }

  showImage(image: string) {
    return env.STORAGE_URL + image;
  }

  changeProfileState() {
    this.isProfileEditing = !this.isProfileEditing;
  }

  closeModal() {
    this.showSkillManager = false;
  }

  changeAddExperienceModalState() {
    this.showAddExperience = !this.showAddExperience;
  }
}
</script>

<style scoped>
.text-small {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.primary-text {
  color: #3DE29D;
}
</style>