<template>
  <application-layout>
    <v-container class="mt-4" v-if="!isLoading && user.profile">
      <v-row>
        <v-col class="col-12 col-md-9 col-sm-12 d-flex align-center">
          <v-avatar width="100" height="100">
            <v-img
                v-if="user.profile.photo.length <= 0"
                src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
            />

            <v-img
                v-else
                :src="showImageUrl(user.profile.photo)"
            />
          </v-avatar>

          <div class="ml-6">
            <h1 class="text-user-name">
              {{ user.name }}
            </h1>

            <p class="mb-0">
              Estudiante
            </p>
          </div>
        </v-col>

        <v-col class="col-12 col-md-3 d-flex align-center justify-start justify-md-center">
          <v-btn
              class="mr-2"
              rounded
              icon
              v-if="user.profile.facebook.length > 0"
          >
            <v-img
                src="@/assets/img/facebook.svg"
                max-width="18px"
                max-height="18px"
            />
          </v-btn>

          <v-btn
              class="mr-2"
              rounded
              icon
              v-if="user.profile.linkedin.length > 0"
          >
            <v-img
                src="@/assets/img/linkedin.svg"
                max-width="18px"
                max-height="18px"
            />
          </v-btn>

          <v-btn
              class="mr-2"
              rounded
              icon
              v-if="user.profile.web_url.length > 0"
          >
            <v-img
                src="@/assets/img/link.svg"
                max-width="18px"
                max-height="18px"
            />
          </v-btn>
        </v-col>
      </v-row>

      <v-row v-if="user.profile.description.length > 0">
        <v-col>
          <h3>
            Sobre mi
          </h3>
          <p class="mt-2 text-small text-space">
            {{ user.profile.description }}
          </p>
        </v-col>
      </v-row>

      <v-row v-if="user.profile.skills.length > 0">
        <v-col>
          <h3>
            Habilidades
          </h3>

          <v-chip-group class="mt-2">
            <v-chip
                v-for="(item, i) of user.profile.skills"
                :key="i"
                :color="item.color"
                dark
            >
              {{ item.name }}
            </v-chip>
          </v-chip-group>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-tabs
              centered
              grow
              color="#3DE29D"
              background-color="transparent"
              v-model="tab"
          >
            <v-tab>
              <v-icon>
                person
              </v-icon>
            </v-tab>

            <v-tab>
              <v-icon>
                work
              </v-icon>
            </v-tab>
          </v-tabs>

          <v-divider/>

          <v-tabs-items v-model="tab" style="background: transparent">
            <v-tab-item>
              <template v-if="publications.length === 0">
                <div class="min-height d-flex align-center justify-center">
                  <h3 class="text-center font-weight-regular">
                    Aun no has publicado nada
                  </h3>
                </div>
              </template>

              <template v-else v-for="(publication, k) of publications">
                <publication-item
                    :key="k"
                    class="mt-4"
                    :publication="publication"
                />
              </template>
            </v-tab-item>

            <v-tab-item>
              <v-list color="transparent" class="mt-2">
                <template v-for="(item, i) of user.profile.experience">
                  <v-divider v-if="i !== 0" class="my-4"/>
                  <experience-item :key="i" :experience="item"/>
                </template>
              </v-list>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="d-flex align-center justify-center min-height" v-else>
      <v-progress-circular color="#3DE29D" indeterminate/>
    </v-container>
  </application-layout>
</template>

<script lang="ts">

import {Component, Vue} from "vue-property-decorator";
import ApplicationLayout from "@/layout/ApplicationLayout.vue";
import {getModule} from "vuex-module-decorators";
import Auth from "@/store/auth";
import Profile from "@/store/profile";
import {UserEntity} from "@/core/entity/auth/UserEntity";
import env from "@/core/shared/envirnoment";
import ExperienceItem from "@/components/profile/ExperienceItem.vue";
import Publication from "@/store/publication";
import {IPublication} from "@/core/entity/publications/IPublication";
import PublicationItem from "@/components/publications/PublicationItem.vue";

@Component({
  name: "UserProfile",
  components: {PublicationItem, ApplicationLayout, ExperienceItem}
})
export default class ProfileModule extends Vue {

  userModule = getModule(Auth, this.$store);
  profileModule = getModule(Profile, this.$store);
  publicationModule = getModule(Publication, this.$store);

  publications: IPublication[] = []

  user: UserEntity = {
    active: false,
    email: "",
    graduate: false,
    lastname: "",
    name: ""
  };

  tab = null;
  isLoading = false;

  async mounted() {
    await this.getProfile();
    await this.getPublications();
  }

  showImageUrl(image: string) {
    return env.STORAGE_URL + image;
  }

  async getProfile() {
    this.isLoading = true;

    try {
      const result = await this.profileModule.getProfileById(this.userModule.user._id!);

      if (result.ok) {
        this.user = result.data!;
      }

    } catch (e) {
      console.log(e);
    } finally {
      this.isLoading = false;
    }
  }

  async getPublications() {
    const result = await this.publicationModule.getPublicationsByProfileId({
      user_id: this.user._id
    });

    if (result.ok) {
      this.publications = result.data!;
    } else {
      console.log("error")
    }
  }
}
</script>

<style scoped>
.text-small {
  font-size: 14px;
}

.min-height {
  min-height: 90vh;
}

.text-space {
  white-space: pre-line;
}

.min-height {
  min-height: 50vh;
}

.text-user-name {
  font-size: 24px;
}
</style>