<template>
  <AdminLayout>
    <v-container>
      <h1 style="font-size: 36px">Inicio</h1>
      <br>
      <h2>Publicaciones</h2>
    </v-container>
  </AdminLayout>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";
  import AdminLayout from "../../layout/AdminLayout.vue";

  @Component({
    name: "Index",
    components: {AdminLayout}
  })
  export default class Index extends Vue {
  }
</script>

<style scoped>

</style>