<template>
  <transition name="fade">
    <router-view/>
  </transition>
</template>

<script lang="ts">
import {getModule} from "vuex-module-decorators";
import {Component, Vue} from "vue-property-decorator";

import Preferences from "@/store/preferences";

@Component({
  name: "App",
})
export default class App extends Vue {
  private preferencesModule = getModule(Preferences, this.$store);

  mounted() {
    if (this.preferencesModule.darkMode) {
      if (this.$vuetify.theme.dark) this.preferencesModule.switchDarkMode();
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    }
  }
}
</script>

<style lang="scss">
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  /* color: #424242;*/
  font-family: "Poppins", sans-serif !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
