<template>
  <AuthLayout>
    <v-container>
      <v-row style="min-height: 80vh" class="d-flex align-center">
        <v-col class="mx-auto col-md-6">
          <h1 class="text-center" style="font-size: 36px">
            Cambiar contraseña
          </h1>

          <p class="mt-4 mb-6" style="font-size: 14px">
            Ya púedes cambiar tu contraseña por f
            avor introduce tu nueva contraseña para continuar

            <strong style="color:#95DD05;">
              recuerda que solo tienes unos minutos para cambiarla
            </strong>
          </p>

          <v-text-field
            dense
            rounded
            outlined
            v-model="password"
            label="Nueva contraseña"
          />

          <v-text-field
            dense
            rounded
            outlined
            v-model="passwordRepeated"
            label="Repetir contraseña"
          />

          <v-btn
            block
            depressed
            rounded
            color="primary"
            :loading="loading"
            @click="changePassword"
            :disabled="!passwordIsCorrect"
          >
            guardar
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-snackbar v-model="active">
      {{ msg }}
    </v-snackbar>
  </AuthLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import AuthLayout from "@/layout/AuthLayout.vue";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";

  @Component({
    name: "ChangePassword",
    components: {
      AuthLayout
    }
  })
  export default class ChangePassword extends Vue {

    private authModule = getModule(Auth, this.$store);

    private password = "";
    private token = "";
    private passwordRepeated = "";

    private msg = "";
    private active = false;
    private loading = false;

    public mounted() {
      if (this.$route.query.hasOwnProperty("token")) {
        this.token = this.$route.query.token as string;
      } else {
        this.$router.push('/password');
      }
    }

    private async changePassword() {
      this.loading = true;

      const result = await this.authModule.changePassword({
        password: this.password,
        token: this.token
      });

      this.active = true;

      if (result.ok) {
        this.msg = "Contreseña cambiada";
        setTimeout(() => this.$router.push("/ingresar"), 1500);
      } else {
        this.msg = "Error tiempo expirado";
        setTimeout(() => this.$router.push('/password'), 1500);
      }

      this.loading = false;
    }

    get passwordIsCorrect() {
      return (this.password.length >= 6 && this.password === this.passwordRepeated);
    }
  }
</script>

<style scoped>
</style>