<template>
  <AuthLayout>
    <v-container>
      <v-row style="height: 90vh" class="d-flex align-center justify-center">
        <v-col class="col-md-6 mx-auto">
          <h1 class="text-center" style="font-size: 36px">
            Iniciar sesion
          </h1>

          <p class="mt-4" style="font-size: 14px">
            ¿No tienes una cuenta? solicita una

            <router-link to="/registro" class="text-decoration-none blue--text" style="color: #A9A9A9">
              aqui
            </router-link>

            recuerda que debes
            ser parte de la comunidad SIC para aprobar tu registro
          </p>

          <v-text-field
            class="mt-8"
            label="Correo electronico"
            v-model="user.email"
            dense
            outlined
            rounded
          />

          <v-text-field
            label="Contraseña"
            v-model="user.password"
            type="password"
            dense
            outlined
            rounded
          />

          <router-link to="password" class="blue--text text-center d-block mt-4 mb-8 text-decoration-none">
            Olvide mi contraseña
          </router-link>

          <v-btn
            color="primary"
            @click="loginByEmail"
            block
            rounded
            depressed
          >
            Entrar
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-snackbar v-model="active">
      Datos incorrectos
    </v-snackbar>
  </AuthLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import AuthLayout from "@/layout/AuthLayout.vue";
  import {LoginPort} from "@/core/repository/auth/port/LoginPort";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";
  import {UserEntity} from "@/core/entity/auth/UserEntity";

  @Component({
    name: "Login",

    components: {
      AuthLayout
    }
  })
  export default class Login extends Vue {

    private readonly loginModule = getModule(Auth, this.$store);

    private active = false;

    private user: LoginPort = {
      email: "",
      password: ""
    };

    private async loginSuccess(user: UserEntity, token: string) {
      this.loginModule.setUser(user);
      this.loginModule.setToken(token);
      await this.$router.push('/home')
    }

    private loginFails() {
      this.active = true;
    }

    public async loginByEmail() {
      try {
        const result = await this.loginModule.loginByEmail(this.user);
        if (!result.ok) this.loginFails();
        else await this.loginSuccess(result.data!, result.message!);
      } catch (e) {
        this.loginFails();
      }
    }
  }
</script>

<style scoped>

</style>