<template>
  <AuthLayout>
    <v-container style="min-height: 90vh" class="d-flex align-center">
      <v-row>
        <v-col class="col-md-6 mx-auto">
          <RegisterForm
            @on-register-email="registerSuccess"
            @show-error="showError"
          />
        </v-col>
      </v-row>

      <v-snackbar v-model="error">
        Ha ocurrido un error
      </v-snackbar>
    </v-container>
  </AuthLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import AuthLayout from "@/layout/AuthLayout.vue";
  import RegisterForm from "@/components/auth/RegisterForm.vue";
  import RequestAccount from "@/components/auth/RequestAccount.vue";

  @Component({
    name: "Register",

    components: {
      RequestAccount,
      RegisterForm,
      AuthLayout
    }
  })
  export default class Register extends Vue {

    private error = false;

    private registerSuccess() {
      this.$router.push({ name: 'request-attempt' });
    }

    private showError() {
      this.error = true;
    }
  }
</script>

<style scoped>

</style>