<template>
  <AuthLayout>
    <v-container>
      <v-row style="min-height: 80vh;" class="d-flex align-center">
        <v-col class="col-md-6 mx-auto">

          <h1 class="text-center" style="font-size: 36px">
            Reiniciar contraseña
          </h1>

          <p class="mt-4 mb-6" style="font-size: 14px">
            Escribe tu correo con el que te registraste en breve recibiras un mensaje
            con instrucciones para reiniciar tu contraseña
          </p>

          <v-text-field
            dense
            outlined
            rounded
            v-model="email"
            label="micorreo@gmail.com"
          />

          <v-btn
            block
            rounded
            depressed
            class="mt-4"
            color="primary"
            :loading="loading"
            @click="resetPassword"
          >
            reiniciar mi contraseña
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-snackbar v-model="showSnack">
      {{ message }}
    </v-snackbar>
  </AuthLayout>
</template>

<script lang="ts">
  import {Vue, Component} from "vue-property-decorator";
  import AuthLayout from "@/layout/AuthLayout.vue";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";

  @Component({
    name: "ResetPassword",
    components: {AuthLayout}
  })
  export default class ResetPassword extends Vue {
    private authModule = getModule(Auth, this.$store);

    private loading = false;
    private showSnack = false;

    private email = "";
    private message = ""

    private async resetPassword() {
      this.loading = true;

      const result = await this.authModule.resetPassword({
        email: this.email
      });

      this.showSnack = true;

      if (result.ok) {
        this.message = "Correcto: revisa tu correo"
        setTimeout(() => this.$router.push('/'), 1500);
      }
      else {
        this.message = "No se encontro una cuenta con este email"
      }

      this.loading = false;
    }
  }
</script>

<style scoped>

</style>