<template>
  <div>
    <h1>
      Crear una cuenta
    </h1>

    <p class="mt-4 font-weight-regular" style="color: #A9A9A9; font-size: 14px">
      Recuerda que debes ser parte de la comunidad SIC para aprobar tu registro
    </p>

    <v-row>
      <v-col>
        <v-text-field
          label="Nombre"
          v-model="port.name"
          dense
          outlined
          rounded
        />
      </v-col>

      <v-col>
        <v-text-field
          label="Apellidos"
          v-model="port.lastname"
          dense
          outlined
          rounded
        />
      </v-col>
    </v-row>

    <v-text-field
      label="Email"
      v-model="port.email"
      dense
      outlined
      rounded
    />

    <v-text-field
      label="Contraseña"
      v-model="port.password"
      dense
      outlined
      rounded
    />

    <v-menu
      ref="menu"
      v-model="menu"
      min-width="auto"
      :close-on-content-click="false"
      :close-on-click="false"
      :return-value.sync="port.dateOfAdmission"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-on="on"
          v-bind="attrs"
          label="Fecha de ingreso"
          v-model="port.dateOfAdmission"
          dense
          readonly
          rounded
          outlined
        />
      </template>

      <v-date-picker
        no-title
        v-model="port.dateOfAdmission"
        locale="es"
        scrollable
      >
        <v-spacer />

        <v-btn
          text
          color="primary"
          @click="menu = false"
        >
          Cancelar
        </v-btn>
        <v-btn
          text
          color="primary"
          @click="$refs.menu.save(port.dateOfAdmission)"
        >
          OK
        </v-btn>
      </v-date-picker>
    </v-menu>

    <v-row class="pb-4">
      <v-col class="col-md-6">
        <v-btn
          color="primary"
          @click="registerByEmail"
          depressed
          rounded
          block
          :loading="loading"
        >
          Continuar
        </v-btn>
      </v-col>

      <v-col class="col-md-6">
        <v-btn
          block
          outlined
          color="blue"
          rounded
          to="/ingresar"
        >
          ya tengo una cuenta
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
  import {Component, Emit, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";
  import {RegisterPort} from "@/core/repository/auth/port/RegisterPort";
  import {UserEntity} from "@/core/entity/auth/UserEntity";

  @Component({
    name: "RegisterForm"
  })
  export default class RegisterForm extends Vue {

    private menu = false;
    private loading = false;

    private authModule = getModule(Auth, this.$store);

    private port: RegisterPort = {
      name: "",
      lastname: "",
      email: "",
      password: "",
      graduate: false,
      dateOfAdmission: new Date().toISOString().substr(0, 10)
    };

    @Emit()
    private onRegisterEmail(user: UserEntity, token: string) {
      this.authModule.setToken(token);
      this.authModule.setUser(user);
    }

    @Emit()
    private showError() {}

    async registerByEmail() {
      this.loading = true;

      const result = await this.authModule.registerByEmail(this.port);

      if (result.ok) this.onRegisterEmail(result.data!, result.message!);
      else this.showError();

      this.loading = false;
    }
  }
</script>

<style scoped>

</style>