<template>
  <div>
    <h1>
      Solicitar activacion
    </h1>

    <p class="mt-4 font-weight-regular" style="color: #A9A9A9; font-size: 14px">
      Para terminar con tu registro y acceder a la comunidad sic nececitamos los
      siguientes datos para completar tu solicitud
    </p>

    <h2 class="mb-4">
      Informacion escolar
    </h2>

    <v-text-field
      label="Matricula"
      dense
      rounded
      outlined
    />

    <v-text-field
      label="Fecha de egreso"
      dense
      rounded
      outlined
    />

    <v-file-input
      label="Documento de identidad"
      prepend-icon=""
      outlined
      dense
      rounded
    />

    <v-btn
      color="primary"
      depressed
      rounded
      block
    >
      Continuar
    </v-btn>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component({
    name: "RequestAccount"
  })
  export default class RequestAccount extends Vue {

  }
</script>

<style scoped>

</style>