<template>
  <v-app>
    <v-navigation-drawer app clipped>
      <v-list>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              home
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Inicio
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              supervisor_account
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Solicitudes
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              school
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Egresados
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              auto_stories
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Convocatoria
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              ballot
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Publicaciones
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              event
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Eventos
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="#3DE29D">
              groups
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              Personal
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider />

      <v-list-item link>
        <v-list-item-icon>
          <v-icon color="#3DE29D">
            settings
          </v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>
            Configuraciones
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>

    <v-app-bar app dense elevation="1" clipped-left>
      <v-app-bar-nav-icon
        style="color: #3DE29D"
      />

      <v-toolbar-title>
        Tesco admin
      </v-toolbar-title>

      <v-spacer />

      <v-btn icon color="#3DE29D">
        <v-icon>
          settings
        </v-icon>
      </v-btn>

      <v-btn icon color="#3DE29D">
        <v-icon>
          exit_to_app
        </v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <slot />
    </v-main>


  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component({
    name: "AdminLayout"
  })
  export default class AdminLayout extends Vue{

  }
</script>

<style scoped>

</style>