<template>
  <v-app>
    <v-navigation-drawer clipped app v-if="!isActiveMenu">
      <v-container class="mt-2 ml-2">
        <v-row>
          <v-col>
            Menu
          </v-col>
          <MenuItem
            v-for="(item, i) in webModule.menuApp"
            :key="i"
            :icon_name="item.icon"
            :menu_text="item.text"
            :route_path="item.route"
          />
         <MenuItemSwitchDarkMode />
        </v-row>
      </v-container>
    </v-navigation-drawer>

    <v-navigation-drawer clipped app v-else v-model="isActiveMenu">
      <v-container class="mt-2 ml-2">
        <v-row>
          <v-col>
            Menu
          </v-col>
          <MenuItem
            v-for="(item, i) in webModule.menuApp"
            :key="i"
            :icon_name="item.icon"
            :menu_text="item.text"
            :route_path="item.route"
          />
          <MenuItemSwitchDarkMode />
        </v-row>
      </v-container>
    </v-navigation-drawer>

    <v-app-bar app dense elevation="1" clipped-left clipped-right>
      <v-toolbar-title @click="goToHome" class="cursor-pointer">
        TESCo
      </v-toolbar-title>

      <v-spacer />

      <v-btn
        small
        dark
        color="#3DE29D"
        class="mr-4"
        depressed
        to="/crear-post"
      >
        crear post
      </v-btn>

<!--      <ContextMenuApp />-->

      <v-app-bar-nav-icon
        @click="openMenu"
        class="d-flex d-md-none"
      />
    </v-app-bar>

    <v-main>
      <slot />
    </v-main>
  </v-app>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";
  import MenuItem from "@/components/menu/MenuItem.vue";
  import MenuItemSwitchDarkMode from "@/components/menu/MenuItemSwitchDarkMode.vue";
  import {getModule} from "vuex-module-decorators";
  import Web from "@/store/web";
  import ContextMenuApp from "@/components/app/ContextMenuApp.vue";

  @Component({
    name: "ApplicationLayout",
    components: {
      ContextMenuApp,
      MenuItemSwitchDarkMode,
      MenuItem
    }
  })
  export default class ApplicationLayout extends Vue {

    private webModule = getModule(Web, this.$store);

    private isActiveMenu = false;

    private goToHome() {
      this.$router.push('/');
    }

    private openMenu() {
      this.isActiveMenu = true;
    }
  }
</script>

<style scoped>
  .cursor-pointer {
    cursor: pointer;
  }
</style>