<template>
  <v-app>
    <v-app-bar app dense elevation="1">
      <v-toolbar-title @click="$router.push('/')" style="cursor: pointer">
        Tesco
      </v-toolbar-title>

    </v-app-bar>

    <v-main>
      <slot />
    </v-main>
  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component({
    name: "AuthLayout"
  })
  export default class AuthLayout extends Vue {

  }
</script>

<style scoped>

</style>