<template>
  <v-app>
    <v-app-bar app dense elevation="1" clipped-left>
      <v-toolbar-title @click="$router.push('/')" style="cursor: pointer">
        TESCo
      </v-toolbar-title>

      <v-spacer />

      <v-menu v-model="active" offset-y max-width="360">
        <template v-slot:activator="{ on }">
          <v-avatar class="ml-4" style="cursor:pointer;">
            <v-img
              src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
              max-width="36"
              max-height="36"
              @click="active = true"
            />
          </v-avatar>
        </template>

        <v-card>
          <v-card-text>
            <v-list>
              <v-list-item>
                <v-list-item-avatar>
                  <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
                      max-width="36"
                      max-height="36"
                  />
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>
                    {{ authModule.user.name }}
                  </v-list-item-title>

                  <v-list-item-subtitle>
                    {{ authModule.user.email }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

<!--              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title>
                    Perfil
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title>
                    Configuraciones
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>-->

              <v-list-item link @click="logout">
                <v-list-item-content>
                  <v-list-item-title>
                    Salir
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-menu>

      <v-app-bar-nav-icon
        class="d-block d-sm-block d-md-none"
        @click="openMenu"
      />
    </v-app-bar>

    <v-navigation-drawer v-model="activeMenu" app clipped temporary>
      <v-list>
        <v-list-item v-for="(el, i) of webModule.menu" :key="i" link @click="goToRoute(el.route)">
          {{ el.text }}
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <slot />
    </v-main>
  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";
  import Web from "@/store/web";

  @Component({
    name: "GuessAccount"
  })
  export default class GuessAccount extends Vue {
    private active = false;
    private activeMenu = false;
    private authModule = getModule(Auth, this.$store);
    private webModule = getModule(Web, this.$store);

    private logout() {
      this.authModule.logout();
      this.$router.push("/");
    }

    private goToRoute(route: string) {
      if (this.$route.path === route) this.$router.go(0);
      else this.$router.push(route);
    }

    private openMenu() {
      this.activeMenu = true;
    }
  }
</script>

<style scoped>

</style>