<template>
  <v-app>
    <v-navigation-drawer v-model="active" app clipped>
      <v-list>
        <v-list-item v-for="(el, i) of webModule.menu" :key="i" link @click="goToRoute(el.route)">
          {{ el.text }}
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app elevation="1" dense clipped-left>
      <v-toolbar-title>
        Tesco
      </v-toolbar-title>

      <v-spacer/>

      <v-toolbar-items class="d-none d-md-block">

        <v-btn
            text
            plain
            small
            :ripple="false"
            :active-class="'color-primary'"
            v-for="(el, i) of webModule.menu"
            :key="i"
            :to="el.route"
        >
          {{ el.text }}
        </v-btn>
      </v-toolbar-items>

      <v-app-bar-nav-icon
          class="d-block d-md-none"
          @click="openMenu"
      />
    </v-app-bar>

    <v-main>
      <slot/>
    </v-main>

    <v-footer class="mt-10">
      <v-container class="mt-4">
        <v-row class="d-flex align-center justify-space-between mb-2">
          <v-col class="col-md-2">
            <v-img
                src="@/assets/img/sep.png"
            />
          </v-col>

          <v-col class="col-md-4 d-flex align-center justify-center">
            <v-img
                max-width="100%"
                src="@/assets/img/edo.png"
            />
          </v-col>

          <v-col class="col-md-2 d-flex align-center justify-center">
            <v-img
                max-width="100%"
                height="100%"
                src="@/assets/img/tecnm.png"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Web from "@/store/web";

@Component({
  name: "PublicLayout"
})
export default class PublicLayout extends Vue {
  private webModule = getModule(Web, this.$store);
  private active = false;

  private openMenu() {
    this.active = true;
  }

  private goToRoute(route: string) {
    if (this.$route.path === route) this.$router.go(0);
    else this.$router.push(route);
  }
}
</script>

<style scoped>
.color-primary {
  color: #95DD05;
}
</style>